node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.local
.env.production.local
.env.development.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build artifacts
*.tsbuildinfo

# OS files
Thumbs.db
